<!DOCTYPE html>
<html>
	<head>
		<meta chardset="UTF-8">
		<meta name="author" content="absucc">
		<meta name="keywords" content="Python bot,Python,Discord,Discord bot,DBL,API,APIs,API powered,Python powered,APIcord">
		<meta name="description" content="APIcord is a line of simple bots powered by simple APIs">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Comapatible" content="id=edge">
		<link rel="shortcut icon" href="{{ url_for('static', filename='logo.jpeg') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<title id="title">This bot is alive!</title>
	</head>
	<body>
		<img width="100px" height="auto" src="{{avatar}}" alt="Avatar">
		<h1><span id="this_bot_is_alive"><noscript>This bot is alive!</noscript></span></h1>
		<p><span id="subtitle"><noscript>Now you can enjoy of this <a href="https://apicord.github.io">APIcord</a> instance on your chat application</noscript></span></p>
		<h2><span id="about_this_instance"><noscript>About this instance</noscript></span></h2>
		<h3><b><span id="name"><noscript>Name:</noscript></span></b> {{instance_name}}</h3>
    <h3><b><span id="owner"><noscript>Owner:</noscript></span></b> {{instance_owner}}</h3>
    <h3><b><span id="type_of_instance"><noscript>Type of instance:</noscript></span></b> Discord <i class="fa fa-discord"></i></h3>
		<h3><b><span id="prefix"><noscript>Prefix:</noscript></span></b> {{prefix}}</h3>
		<h3><b><span id="number_of_servers"><noscript>Number of servers:</noscript></span></b> {{guilds}}</h3>
		<br>
		<p>&copy;2020 <a href="https://lucas.codeberg.page">absucc</a> - Powered by <a href="https://apicord.github.io">APIcord</a> - <a href="https://github.com/APIcord/discord">Source code</a></p>
	</body>
  <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/lang.js') }}"></script>
	<!--https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css-->
	<script>
		if (isSpanish==true) {
      document.getElementById("title").innerHTML = "¡Este bot está vivo!";
			document.getElementById("this_bot_is_alive").innerHTML = "¡Este bot está vivo!";
			document.getElementById("subtitle").innerHTML = "Ahora puedes disfrutar de está instancia de <a href=\"https://apicord.github.io\">APIcord</a> en tu aplicación de chat";
			document.getElementById("about_this_instance").innerHTML = "Datos de esta instancia";
			document.getElementById("name").innerHTML = "Nombre:";
			document.getElementById("owner").innerHTML = "Dueño:";
			document.getElementById("type_of_instance").innerHTML = "Tipo de instancia:";
			document.getElementById("prefix").innerHTML = "Prefix:";
			document.getElementById("number_of_servers").innerHTML = "Número de servidores:";
		} else {
      document.getElementById("title").innerHTML = "This bot is alive!";
			document.getElementById("this_bot_is_alive").innerHTML = "This bot is alive!";
			document.getElementById("subtitle").innerHTML = "Now you can enjoy of this <a href=\"https://apicord.github.io\">APIcord</a> instance on your chat application";
			document.getElementById("about_this_instance").innerHTML = "About this instance";
			document.getElementById("name").innerHTML = "Name:";
			document.getElementById("owner").innerHTML = "Owner:";
			document.getElementById("type_of_instance").innerHTML = "Type of instance:";
			document.getElementById("prefix").innerHTML = "Prefix:";
			document.getElementById("number_of_servers").innerHTML = "Number of servers:";
		}
	</script>
</html>