<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="absucc">
    <meta name="keywords" content="Python bot,Python,Discord,Discord bot,DBL,API,APIs,API powered,Python powered,APIcord">
    <meta name="description" content="APIcord is a line of simple bots powered by simple APIs">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Comapatible" content="id=edge">
    <link rel="stylesheet" href="https://apicord.github.io/css/dark.css">
    <link rel="shortcut icon" href="https://apicord.github.io/apicord.jpeg">
    <title>Privacy Policy | APIcord</title>
  </head>
  <body>
    <h2 class="title"><a href="https://apicord.github.io/index.html"><img src="https://apicord.github.io/apicord.jpeg" alt="Logo" /></a> Privacy Policy</h2>
    <hr>
    <!-- class="sub-stuff" id="discord" -->
    <div>
      <h3>Data collection</h3>
      <p>For out part we do not collect any data for you. But if you see the bot itself is doing that, please, contact me in a MD: error#7900</p>
      <hr>
      <h3>3rd party data sharing</h3>
      <p>We are not responsable if our hosters, API providers, or Discord collect data. But, we're puting the links of their policys right here:</p>
      <h5>Hosters</h5>
      <ul>
        <li>GitHub</li>
        <p><a href="https://github.com/site/privacy">GitHub Privacy Policy</a></p>
        <li>GitLab</li>
        <p><a href="https://about.gitlab.com/privacy">GitLab Privacy Policy</a></p>
        <li>Repl.it</li>
        <p><a href="https://repl.it/site/privacy">Repl.it Privacy Policy</a></p>
      </ul>
      <h5>API providers</h5>
      <ul>
        <li>Coffee API</li>
        <p>No Privacy Policy</p>
        <li>Dog CEO</li>
        <p>No Privacy Policy found</p>
        <li>Meme API</li>
        <p>No Privacy Policy</p>
        <li>Catfact.ninja</li>
        <p>No Privacy Policy found</p>
        <li>memegen.link</li>
        <p>No Privacy Policy found</p>
        <li>Some Random API</li>
        <p>No Privacy Policy</p>
        <li>chucknorris.io</li>
        <p><a href="https://api.chucknorris.io/privacy">Application Privacy Statement</a></p>
      </ul>
      <h5>API providers</h5>
      <ul>
        <li><a href="https://discord.com/privacy">Discord Privacy Policy</a></li>
        <li><a href="https://discord.com/developers/docs/policy">Discord Developer Policy</a></li>
      </ul>
      <h5>UptimeRobot</h5>
      <ul>
        <li><a href="https://uptimerobot.com/privacy">UptimeRobot Privacy Policy</a></li>
      </ul>
    </div>
    <br>
    <footer>
      <br><hr>
      <table>
        <tr>
          <th>Chat with us</th>
          <th>Code</th>
          <th>News</th>
          <th>Legal</th>
        </tr>
        <tr>
          <td><a href="https://inv.wtf/ciber"><i class="fa fa-discord-alt" aria-hidden="true"></i></a> <a href="https://t.me/APIcordChat"><i class="fa fa-telegram" aria-hidden="true"></i></td>
          <td><a href="https://github.com/APIcord"><i class="fa fa-github" aria-hidden="true"></i></a> <a href="https://gitlab.com/APIcord"><i class="fa fa-gitlab" aria-hidden="true"></i></a></td>
          <td><a href="https://t.me/apicord"><i class="fa fa-telegram" aria-hidden="true"></i></a></td>
          <td><a href="https://apicord.github.io/privacy.html">Privacy Policy</a></td>
        </tr>
        <br>
      </table>
      <br>
      <p>Webpage made by <a href="https://lucas.codeberg.page">Lucas</a> - &copy;2020</p>
      <p><a href="https://github.com/APIcord/APIcord.github.io">Source code</a> - <a href="https://gitlab.com/APIcord/APIcord.gitlab.io">Mirror of the source code</a></p>
    </footer>
  </body>
</html>